---
- name: "Insert the credentials and sources we will need"
  include_tasks: "{{ item }}"
  with_items:
    - insert/credential_LabVault.yml
    - insert/credential_MachineRoot.yml
    - insert/inventory_LabMachines.yml
    - insert/inventory_Script.yml
    - insert/project_LimeLightTasks.yml
#    - file: insert/project_RedHatROoT-Ansible-Demos.yml

#- name: Create some job templates with our lab content
#  include_tasks: insert/jobtemplate_template.yml
#  vars:
#    inc_vars: "{{ item }}"
#  with_items:
#    - my_jt_name: "01 Variables"
#      my_jt_description: "Lab one excercise showing how we can use variables to modify the behavior of our playbook"
#      my_playbook_yml: "01-Variables/variables.yml"
#      my_extra_vars: '---\nmy_message: This message is set inside the Ansible Tower job template but can be changed.\nmy_name: Ansible Tower User\nmy_email: email.ansible.tower'
#    - my_jt_name: "02 Variables"
#      my_jt_description: "Lab one excercise showing how we can use variables to modify the behavior of our playbook"
#      my_playbook_yml: "01-Variables/variables.yml"
#      my_extra_vars: '---\nmy_message: This new message is also set inside the Ansible Tower JT'


